#animatecss,
#animatejs {
    margin: 0;
    padding: 0;
}

.animated {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.slow {
    -webkit-animation-duration: 1.5s;
    animation-duration: 1.5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.slower {
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.slowest {
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.bounceInRight,
.bounceInLeft,
.bounceInUp,
.bounceInDown {
    opacity: 0;
    -webkit-transform: translateX(400px);
    transform: translateX(400px)
}

.fadeInRight,
.fadeInLeft,
.fadeInUp,
.fadeInDown {
    opacity: 0;
}

.flipInX,
.flipInY,
.rotateIn,
.rotateInUpLeft,
.rotateInUpRight,
.rotateInDownLeft,
.rotateDownUpRight,
.rollIn {
    opacity: 0
}

.lightSpeedInRight,
.lightSpeedInLeft {
    opacity: 0;
    -webkit-transform: translateX(400px);
    transform: translateX(400px)
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 30%, 0);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.fadeInUp.go {
    animation-name: fadeInUp;
    -webkit-animation-name: fadeInUp;
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-200px)
    }

    50% {
        opacity: .3
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInLeft {
    opacity: 0;
    -webkit-transform: translateX(-200px);
    transform: translateX(-200px)
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(200px)
    }

    50% {
        opacity: .3
    }

    100% {
        opacity: 1;
        transform: translateX(0)
    }
}

.fadeInRight {
    opacity: 0;
    -webkit-transform: translateX(200px);
    transform: translateX(200px)
}

.fadeInLeft.go {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft
}

.fadeInRight.go {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight
}